p,
h3,
a {
  color: #254d7e;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* border: 1px solid grey; */
  background-color: lightblue;
}

.cardContainer:hover {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  box-shadow: 5px 5px 5px 0px white;
}

.cardData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
